<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>旅游-搜索</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="js/jquery-3.3.1.js"></script>
     <script src="js/vue.min.js"></script>
    <style>
        a:hover{
            opacity: 60%;
        }

        .currentPage{
            background: #2b669a;
        }
    </style>

    <script>
        $(document).ready(function () {

            //获取地址栏参数的函数
            function getUrlParams(name){
                const reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                const r = window.location.search.substr(1).match(reg);
                if(r!=null)
                    return decodeURI(r[2]);
                return null;
            }

            const  rname =getUrlParams("rname");

            $('#search').val(rname);//无效

            var  vue2 = new Vue({
                el:'#right',
                data:{
                    pageInfo:{}
                },
                mounted:function () {

                    $.ajax({
                        type: "get",
                        url: " search",
                        data: {
                            pageNum: 1,
                            pageSize: 5
                        },
                        success: function (pageInfo) {
                            vue2.pageInfo =pageInfo;
                        }
                    })

                }
            });

            var vue = new Vue({
                el: '#left',
                data: {
                    pageInfo:{}
                },
                mounted: function () {
                     this.list(1)
                },
                methods: {
                    list: function (pageNum) {
                        $.ajax({
                            type: "get",
                            url: " search",
                            data: {
                                rname:function () {
                                    var rname = getUrlParams("rname");
                                    return encodeURI(rname);
                                },
                                cid:function(){
                                    return getUrlParams("cid");
                                },
                                pageNum: pageNum,
                                pageSize: 8
                            },
                            success: function (pageInfo) {
                                vue.pageInfo =pageInfo;
                            }
                        })
                    },
                    jumpByPageNum:function (pageNum) {
                         if(pageNum !== vue.pageInfo.pageNum){
                             vue.list(pageNum)
                         }
                    },
                    jumpPrePage:function () {
                        vue.jumpByPageNum(vue.pageInfo.prePage);
                    },
                    jumpNextPage:function () {
                        vue.jumpByPageNum(vue.pageInfo.nextPage);
                    },
                    jumpFirst:function () {
                        vue.jumpByPageNum(1);
                    },
                    jumpLast:function () {
                        vue.jumpByPageNum(vue.pageInfo.pages);
                    }


                }


            });

        })

    </script>
</head>
<body>
<!--引入头部-->
<div id="header"></div>
    <div class="page_one">
        <div class="contant">
            <div class="crumbs">
                <img src="images/search.png" alt="">
                <p>旅行><span>搜索结果</span></p>
            </div>
            <div  class="xinxi clearfix">
                <div class="left" id="left">
                    <div class="header">
                        <span>商品信息</span>
                        <span class="jg">价格</span>
                    </div>
                    <ul>
                        <li v-for="item in pageInfo.list">
                            <div class="img"><img v-bind:src="item.rimage" alt=""></div>
                            <div class="text1">
                                <p>{{item.rname}}</p>
                                <br/>
                                <p>{{item.routeIntroduce}}</p>
                            </div>
                            <div class="price">
                                <p class="price_num">
                                    <span>&yen;</span>
                                    <span>{{item.price}}</span>
                                    <span>起</span>
                                </p>
                                <p><a v-bind:href="'route_detail.html?rid='+item.rid">查看详情</a></p>
                            </div>
                        </li>
                    </ul>
                    <div class="page_num_inf">
                        <i></i> 共
                        <span>{{pageInfo.pages}}</span>页<span>{{pageInfo.total}}</span>条
                    </div>
                    <div class="pageNum">
                        <ul>
                            <li @click="jumpFirst()"><a href="#" >首页</a></li>
                            <li class="threeword" v-if="pageInfo.hasPreviousPage"  @click="jumpPrePage()"><a href="#" >上一页</a></li>
                            <li v-for="nav in pageInfo.navigatePageNums" v-bind:class="{currentPage: nav == pageInfo.pageNum}" @click="jumpByPageNum(nav)"><a href="#" >{{nav}}</a></li>
                            <li class="threeword" v-if="pageInfo.hasNextPage"  @click="jumpNextPage()"><a href="#">下一页</a></li>
                            <li class="threeword"  @click="jumpLast()"><a href="#">末页</a></li>
                        </ul>
                    </div>
                </div>


                <div class="right" id="right">
                    <div class="top">
                        <div class="hot">HOT</div>
                        <span>热门推荐</span>
                    </div>
                    <ul>
                        <li v-for="item ,index in pageInfo.list">
                            <div class="left"><img :src="item.rimage" alt=""></div>
                            <div class="right">
                                <p>{{item.routeIntroduce}}</p>
                                <p>网付价<span>&yen;<span>{{item.price}}</span>起</span>
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--引入头部-->
    <div id="footer"></div>
    <!--导入布局js，共享header和footer-->
    <script type="text/javascript" src="js/include.js"></script>

</body>

</html>